/* 
======================================== 
START Style Guide 
======================================== 
*/

:root {
    /* 
    ========================================  
    COLORS
    ========================================  
    */
    --crl-primary-brand: #4D5AE5;
    /* Iris| Primary Brand | CTAs,Focused,Active states,Links */

    --crl-pressed-state: #404BBF;
    /* OCEAN | Pressed state |CTAs */

    --crl-dark: #2E2F42;
    /* Navy blue | Dark | Overlays,Shadows,Headings */

    --crl-success: #31D0AA;
    /* GREEN | Success | Valid fields, Success messages */

    --crl-text: #434455;
    /* SLATE| Text | Body text */

    --crl-subtle-text: #8E8F99;
    /* LIGHT SLATE | Subtle Text | Helper text, Deemphasized text  */

    --crl-accent: #E7E9FC;
    /* Cornflower | Accent | Accent color, Hairlines, Subtle backgrounds */

    --crl-light: #F4F4FD;
    /*CLOUD | Light | Light mode backgrounds, Light mode Dialogs/alerts */

    --crl-modal-overlay: #2E2F42;
    /* NAVY BLUE modal | Modal overlay | Overlay */

    --crl-hero-background: #2E2F42;
    /* GREY | Hero background | Hero image background */

    --crl-white-background: #FFFFFF;
    /* WHITE|  White background | Header,  team card background */

    --crl-modal-background: #FCFCFC;
    /* Dairy| Modal background | Modal background  */

    /* 
    ======================================== 
    TYPOGRAPHY 
    ========================================   
    */
    /* ========== ========== Body | Main text | p ========== ========== */
    --body-font-family: "Roboto", sans-serif;
    --body-font-size: 16px;
    --body-font-weight: 400;
    --body-line-height: 1.5;
    --body-letter-spacing: .02em;

    /* ========== ========== Header 1 | title-hero| h1 ========== ========== */
    --h1-font-size: 56px;
    --h1-line-height: 1.07;
    --h1-letter-spacing: .02em;

    /* ========== ========== Header 2 | title | h2 ========== ========== */
    --h2-font-size: 36px;
    --h2-line-height: 1.11;
    --h2-letter-spacing: .02em;

    /* ========== ========== Header 3 | subtitle | h3 ========== ========== */
    --h3-font-weight: 500;
    --h3-font-size: 20px;
    --h3-line-height: 1.2;
    --h3-letter-spacing: .02em;

    /* ========== ========== Small Text ========== ========== */
    --small-font-size: 12px;
    --small-font-weight: 400;
    --small-line-height: 1.17;
    --small-letter-spacing: .04em;


    /* ========== ========== Body Medium ========== ========== */
    --body-medium-font-size: 16px;
    --body-medium-font-weight: 500;
    --body-medium-line-height: 1.5;
    --body-medium-letter-spacing: .02em;

    /* ========== ========== Button Text ========== ========== */
    --button-font-family: "Roboto", sans-serif;
    --button-font-size: 16px;
    --button-font-weight: 500;
    --button-line-height: 1.5;
    --button-letter-spacing: .04em;

    /* ========== ========== Link Text ========== ========== */
    --link-font-size: 12px;
    --link-font-weight: 400;
    --link-line-height: 1.33;
    --link-letter-spacing: .04em;

    /* ========== ========== Logo ==========  ========== */
    --logo-font-family: "Raleway", sans-serif;
    --logo-font-size: 18px;
    --logo-font-weight: 800;
    --logo-line-height: 1.17;
    --logo-letter-spacing: .03em;
}

/*
======================================== 
End Style Guide 
======================================== 
*/

/* ======================================== Reset values ========================================  */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-block: 0;
}


/* ======================================== General tag selector values ========================================  */

body {
    font-family: var(--body-font-family, "Roboto", sans-serif);
    font-size: var(--body-font-size, 16px);
    letter-spacing: var(--body-letter-spacing, 0.02em);
    line-height: 1.5;

    color: var(--crl-text, #434455);
    background-color: var(--crl-white-background);
}

address {
    font-style: normal;
}

input {
    font-family: inherit;
}

/* ======================================== General helper classes ========================================  */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {

    width: 1158px;
    margin-inline: auto;
    padding-inline: 15px;
}

.link {
    text-decoration-line: none;
    color: var(--crl-text, #434455);
}

.list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.main-title {
    font-size: var(--h1-font-size, 56px);
    line-height: var(--h1-line-height, 1.07);

}

.title {
    margin-bottom: 72px;
    text-align: center;

    font-size: var(--h2-font-size, 36px);
    line-height: var(--h2-line-height, 1.11);


    color: var(--crl-dark, #2E2F42);

    text-transform: capitalize;
}

.subtitle {
    margin-bottom: 8px;

    font-size: var(--h3-font-size, 20px);
    font-weight: var(--h3-font-weight, 500);
    line-height: var(--h3-line-height, 1.2);

    color: var(--crl-dark, #2E2F42);
}


.image,
svg {

    display: block;
    max-width: 100%;
}

.btn {
    font-family: inherit;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;

    border-radius: 4px;
    cursor: pointer;
}

.section {
    max-width: 1440px;
    margin-inline: auto;
}

.icon {
    fill: currentColor;
}


/* 
================================================================================ 
------------------------------ HEADER | SECTION 1 ------------------------------
================================================================================  
*/

/* ================================= Header =================================== */

.main-header {
    display: flex;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-content-box {
    display: flex;
    justify-content: space-between;
}

/* ================================== Logo ==================================== */
.logo {
    font-family: var(--logo-font-family, "Raleway", sans-serif);
    font-size: var(--logo-font-size, 18px);
    font-weight: var(--logo-font-weight, 800);
    line-height: var(--logo-line-height, 1.17);
    letter-spacing: var(--logo-letter-spacing, 0.03em);

    color: var(--crl-primary-brand, #4D5AE5);

    text-transform: uppercase;
}

.header-logo {
    margin-right: 72px;
}

.logo-dark {
    color: var(--crl-dark, #2E2F42);
}

.logo-light {
    color: var(--crl-light, #F4F4FD);
}

/* ========================== Main header navigation ============================= */
.header-navigation {
    display: flex;
    align-items: center;
}

.main-nav-list {

    height: 72px;
    display: flex;
    gap: 40px;
}

.nav-link {
    /* position: relative; */
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;

    padding: 24px 0;
    color: #434455;

    font-weight: var(--body-medium-font-weight, 500);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.active,
.nav-link:hover,
.nav-link:focus {
    position: relative;
    color: #404BBF;
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: var(--crl-pressed-state, #404BBF);
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* ========================== Contacts header ================================= */
.contacts-list {
    display: flex;
    gap: 40px;
}

.contact-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    padding: 24px 0;
}

.contact-link:hover,
.contact-link:focus {

    color: var(--crl-pressed-state, #404BBF);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*
================================================================================ 
------------------------------- MAIN CONTENT STYLES ----------------------------
================================================================================ 
*/

/* 
================================================================================ 
                                 Hero | SECTION 2
================================================================================  
*/

.section-hero {
    height: 600px;
    padding: 188px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--crl-dark, #2E2F42);
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
        url(../images/01-studio/02-hero/bg-hero-people-office.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}


.hero-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 48px;
}

.hero-title {
    max-width: 496px;
    color: var(--crl-white-background, #FFFFFF);
    text-align: center;
}

.hero-btn {
    min-width: 169px;
    padding: 16px 32px;
    color: var(--crl-white-background, #FFFFFF);
    background-color: var(--crl-primary-brand, #4D5AE5);
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--crl-pressed-state, #404BBF);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* 
================================================================================ 
                                Benefit | SECTION 3 
================================================================================  
*/

.section-benefit {
    padding: 120px 0;
}

.benefit-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.benefit-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.benefit-box-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 100px;
    margin-bottom: 8px;
    background-color: #F4F4FD;
    border-radius: 4px;

}

/* 
================================================================================ 
                        What are we doing| Skills | SECTION 4 
================================================================================  
*/

.section-skills {
    padding-bottom: 120px;
}

.skills-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.skills-list-item {
    flex-basis: calc((100% - 3 * 16px) / 3);
}

/* 
================================================================================ 
                             Our Team| Team | SECTION 5  
================================================================================  
*/

.section-team {
    padding: 120px 0;
    background: var(--crl-light, #F4F4FD);
}

.team-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.team-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--crl-white-background, #FFFFFF);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.text-content-box {

    padding: 32px 0;
    text-align: center;
}

/* 
================================================================================ 
                                Customers | SECTION 6 
================================================================================  
*/

.section-customers {
    padding: 120px 0;
}

.customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.customers-list-item {

    width: calc((100% - 120px) / 6);
    height: 88px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-box-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
}


.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.customers-link:hover,
.customers-link:focus {
    border-color: #404bbf;
    color: #404bbf;
}

/* 
================================================================================ 
                             Footer | SECTION 7  
================================================================================  
*/
.footer-container {
    display: flex;
    align-items: baseline;


}

.main-footer {

    background: var(--crl-dark, #2E2F42);
    padding: 100px 0;
}

.mf-text-content-box {

    margin-right: 120px;
}

.footer-social-media-box {
    display: flex;
    margin-right: 80px;
    flex-direction: column;
    color: var(--crl-white-background);
    font-size: var(--body-medium-font-size, 16px);
    font-weight: var(--body-medium-font-weight, 500);
}

.footer-subtitle {
    color: var(--crl-light, #F4F4FD);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-social-media-list {
    display: flex;
    gap: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-footer-text {
    margin-top: 18px;
    max-width: 264px;
    color: var(--crl-light, #F4F4FD);
}

.social-media-link.footer {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover.footer,
.social-media-link:focus.footer {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/* <!-- ---------- Footer e-mail input ---------- --> */

.subscribe-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input-email {
    width: 264px;
    height: 40px;
    border: 1px solid var(--crl-white-background, #FFF);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;

}

.footer-input-email::placeholder {
    color: #ffffff;
}


.input-footer-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;

}

.footer-btn-icon {
    margin-left: 16px;
}


/* 
================================================================================ 
                             Social media |   
================================================================================  
*/
.social-media-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.social-media-item {
    width: 40px;
    height: 40px;
}


.social-media-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--crl-primary-brand, #4D5AE5);
    border-radius: 50%;

}

.social-media-box:hover,
.social-media-box:focus {
    background-color: var(--crl-pressed-state, #404BBF);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-icon {
    fill: #F4F4FD;
}

.social-media-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.social-media-link:hover,
.social-media-link:focus {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*
================================================================================ 
------------------------------------- PORTFOLIO --------------------------------
================================================================================ 
*/
/* ============================ Portfolio | SECTION 2 ========================== */

.portfolio-section {
    padding: 96px 0 120px 0;
    justify-content: space-between;
}

/* ================= Filter | Portfolio secondary navigation =================== */
.portfolio-filter-list {

    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;

}

.filter-list-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn {
    padding: 12px 24px;

    border: 1px solid var(--crl-accent, #e7e9fc);
    color: var(--crl-primary-brand, #4D5AE5);
    background-color: var(--crl-light, #F4F4FD);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
    border: 1px solid transparent;
    color: var(--crl-white-background, #FFFFFF);
    background-color: var(--crl-pressed-state, #404BBF);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ========================= Cards | Portfolio cards ============================= */
.portfolio-text-container {
    padding: 32px 16px;
    border: 1px solid var(--crl-accent, #e7e9fc);
    border-top: none;
}

.portfolio-card-list {
    display: flex;

    flex-wrap: wrap;
    gap: 48px 24px;
    justify-content: space-between;
}

.card-list-item {

    width: calc((100% - 48px) / 3);
    background: var(--crl-white-background, #FFFFFF);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.portfolio-card-link {

    display: block;
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-card-link:hover,
.portfolio-card-link:focus {

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-link:hover .overlay-text,
.portfolio-card-link:focus .overlay-text {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    opacity: 1;
    visibility: visible;
    pointer-events: painted;
    transform: translateY(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.container-card-img {
    position: relative;
    overflow: hidden;
}


/* ========================= Overlay in Cards | Portfolio cards ============================= */

.overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


/*
================================================================================ 
                            BACKDROP WITH MODAL WINDOW  
================================================================================ 
*/
/* ================ BACKDROP ================ */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* ================ MODAL WINDOW ================ */
.modal {
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 999;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 408px;
    min-height: 584px;

    border-radius: 4px;
    background: var(--dairy, #FCFCFC);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

}

.close-btn {
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    z-index: 2;
    top: 24px;
    right: 24px;

}

.close-btn:hover,
.close-btn:focus {
    border: none;
    background-color: #404bbf;

    fill: #ffffff;
}

.close-btn-icon {

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-icon:hover,
.close-btn-icon:focus {
    fill: #ffffff;
}


/* ================ MODAL WINDOW CONTENT ================ */

.modal-text-cta {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--crl-modal-overlay, #2E2F42);
    margin-bottom: 16px;
}

.modal-form-container{
    margin-bottom: 8px;
}

.modal-input-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--crl-subtle-text, #8E8F99);
    display: block;
    margin-bottom: 4px; 
}

.wrapper-input-svg {
    position: relative;
}

.modal-input {
    
    width: 100%;
    height: 40px;
    border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--crl-modal-overlay, #2E2F42);

}

.modal-input:focus
 {
    border-color: #4D5AE5;
}

.modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%); 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-input:focus+.modal-input-icon {
    fill: #4D5AE5; 
}
.wrapper-textarea-svg{
    margin-bottom: 16px;
}
.modal-message:focus{
    border-color: #4D5AE5;
}

.modal-message {

    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
     resize: none;
     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.modal-input-label:focus + .modal-message {
    border-color: #4D5AE5; 
}

.container-checkbox{
    margin-bottom: 24px; 
}
.modal-input-label{
    display: block; 
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--crl-subtle-text, #8E8F99);
}

.wrapper-checkbox-svg {
    width: 16px; 
    height: 16px; 
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    fill: transparent; 

}

.modal-checkbox:focus + .modal-checkbox-label>.wrapper-checkbox-svg{
    border-color: #404bbf;
}

.modal-checkbox-label{
    display: block; 
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em; 
    color: var(--crl-subtle-text,#8e8f99);
}


.modal-checkbox:checked + .modal-checkbox-label>.wrapper-checkbox-svg{
    background-color:var(--crl-pressed-state,#404bbf); 
    border: none;
    fill: var(--crl-light,#F4F4FD); 
}


.modal-privacy-policy-link {
    color: var(--crl-primary-brand, #4D5AE5);
}

.modal-btn {
    margin-right: auto; 
    margin-left: auto; 
    display: block; 
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif ;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none; 
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}







